@model List<PSTodos.RESTServices.ViewModels.PerfilViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="section">
    <div class="container">
        <h4 style="float: left">Listagem de Perfis</h4>
        <div style="float: right; margin-top: 20px;">
            <a class="waves-effect waves-light btn teal" href="@Url.Action("Create", "Perfis")"><i class="material-icons left">add</i>Novo Registro</a>
        </div>
        <br /><br />
        @if (Model.Any())
        {
            <table class="highlight bordered">
                <thead>
                    <tr>
                        <th data-field="id">Id</th>
                        <th data-field="login">Nome</th>
                        <th data-field="status">Status</th>
                        <th data-field="acoes">Ações</th>
                    </tr>
                </thead>
                <tbody>
                
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Nome</td>
                                @if (item.Ativo)
                                {
                                    <td class="center-align"><span class="new badge green" data-badge-caption="Ativo" style="float: left"></span></td>
                                }
                                else
                                {
                                    <td class="center-align"><span class="new badge red" data-badge-caption="Inativo" style="float: left"></span></td>
                                }
                                <td>                  

                                    @using (Html.BeginForm("Delete", "Perfis", new { id = item.Id }))
                                    {
                                        @Html.HttpMethodOverride(HttpVerbs.Delete)
                                        <a class="waves-effect waves-light btn" style="padding: 0 1rem" href="@Url.Action("Edit", "Perfis", new { id = item.Id })"><i class="material-icons">edit</i></a>
                                        <button class="waves-effect waves-light btn red" style="padding: 0 1rem" type="submit"><i class="material-icons">delete</i></button>
                                    }


                                </td>
                            </tr>
                        }
                </tbody>
            </table>
        }
        else
        {
            <h5>Nenhum resultado.</h5>
        }
    </div>
</div>

