@model List<PSTodos.Mvc.ViewModels.UsuarioViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="section">
    <div class="container">
        <h4 style="float: left">Listagem de Usuários</h4>
        <div style="float: right; margin-top: 20px;">
            <a class="waves-effect waves-light btn teal" href="usuarios_cadastro.html"><i class="material-icons left">add</i>Novo Registro</a>
        </div>
        <br /><br />
        <table class="highlight bordered">
            <thead>
                <tr>
                    <th data-field="id">Id</th>
                    <th data-field="login">Login</th>
                    <th data-field="nome">Nome</th>
                    <th data-field="email">Email</th>
                    <th data-field="senha">Senha</th>
                    <th data-field="ativo">Status</th>
                    <th data-field="excluir">Excluir</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Login</td>
                            <td>@item.Nome</td>
                            <td>@item.Email</td>
                            <td>@item.Senha</td>
                            @if (item.Ativo)
                            {
                                <td class="center-align"><span class="new badge green" data-badge-caption="Ativo" style="float: left"></span></td>
                            }
                            else
                            {
                                <td><a class="waves-effect waves-light btn red" style="padding: 0 1rem"><i class="material-icons">delete</i></a></td>
                            }
                            <td><a class="waves-effect waves-light btn red" style="padding: 0 1rem"><i class="material-icons">delete</i></a></td>
                        </tr>
                    }
                }
                else
                {
                    <h5>Nenhum resultado.</h5>
                }

            </tbody>
        </table>
    </div>
</div>

